# Build artifacts
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/compile_commands.json

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
